{% extends 'clients/base.html' %}
{% block title %}Подробности сообщения{%endblock%}
{%block content%}
{% include 'clients/header.html' %}

<h1>{{ message.subject }}</h1>
<p><strong>Тело:</strong> {{ message.body }}</p>
<p><strong>Создано:</strong> {{ message.created_at }}</p>

<a href="{% url 'mailings:message_update' message.pk %}" class="btn btn-warning">Редактировать</a>
<a href="{% url 'mailings:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'mailings:message_list' %}" class="btn btn-secondary">Назад</a>
{%endblock%}